extends layout

block content
  .content
    h1= title
    ul(class='contentList')
      each car in car_list
        li
          a(href=car.url)
            h3 #{car.year.year} #{car.make.name} #{car.model.name}
          div 
            div Body types:&nbsp
              each type, idx in car.bodyType
                div 
                  if idx == car.bodyType.length - 1
                    | #{type.type} 
                  else 
                    | #{type.type},&nbsp
            div Price: $#{car.price}
            div Stock: #{car.stock}
          p=car.description