extends layout

block content
  .content
    h2= title
    ul 
      li Cars: #{carCount}
      li Makes: #{makeCount}
      li Models: #{modelCount}
      li Years: #{yearCount}
      li Body types: #{bodyTypeCount}
