extends layout

block content
  .content
    h1=title
    ul.homeList
      li 
        b Cars 
        | #{carCount}
      li 
        b Makes 
        | #{makeCount}
      li 
        b Models 
        | #{modelCount}
      li 
        b Years 
        | #{yearCount}
      li 
        b Body types 
        | #{bodyTypeCount}
