extends layout

block content
  .content
    .detail   
        h1=year.year
        div(style='display:flex; gap:20px; padding:10px')
        ul
          each car in cars 
            li
              h2  
                a(href=car.url) #{car.make.name} #{car.model.name}
              p Released: #{car.year.year}
                div Stock: #{car.stock}
